/* button {
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

label {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

li {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    border: 2px black solid;
    padding: 10px
} */

button {
    display: flex;
    justify-content: center;
    width: 75px;
    border-radius: 7px;
    background-color: #00a82d;
    border-color: #00a82d;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
