/* button {
    display: flex;
    justify-content: space-around;
    background-color: #00a82d;
    padding: 10px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

label {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

li {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
} */

.logins {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    color: black
}
.logins:hover {
    color: #00a82d;
}
